# Настройки базы данных
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_HOST=POSTGRES_HOST
POSTGRES_PORT=POSTGRES_PORT
POSTGRES_SCHEMA=POSTGRES_SCHEMA
POSTGRES_DB=POSTGRES_DB

# Настройки логирования
LOG_LEVEL=INFO
LOG_FILE=logs/dictionaryAPI.log

# Настройки API
API_HOST=127.0.0.1
API_PORT=9092

# CORS настройки (разделите origins запятыми)
CORS_ORIGINS=http://localhost:3000,http://localhost:8080,https://yourdomain.com 